<h1 class="text-center py-3">New user</h1>

<article class="container form-xl">
<img src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599925746/laBuenaVida/web-img/undraw_welcome_cats_thqn_iecsoc.png" alt="welcome illustration" class="img-fluid pb-4">

  <form action="/signup" method="POST">
    <div class="container-form-new-product">
      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text"  class="form-control {{#if error.name }}is-invalid{{/if}}"
          id="name" value="{{user.name}}">

        {{#if error.name}}
        <div class="invalid-feedback">
          {{error.name.message}}
        </div>
        {{/if}}
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" value="{{user.email}}" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email"
          name="email">

        {{#if error.email}}
        <div class="invalid-feedback">
          {{error.email.message}}
        </div>
        {{/if}}
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
          name="password">

        {{#if error.password}}
        <div class="invalid-feedback">
          {{error.password.message}}
        </div>
        {{/if}}
      </div>

      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="tel" value="{{user.phone}}" class="form-control {{#if error.phone.minlength }}is-invalid{{/if}}"
          name="phone">

        {{#if error.phone}}
        <div class="invalid-feedback">
          {{error.phone.message}}
        </div>
        {{/if}}
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" value="{{user.address}}" class="form-control {{#if error.address }}is-invalid{{/if}}"
          id="address" name="address">

        {{#if error.address}}
        <div class="invalid-feedback">
          {{error.address.message}}
        </div>
        {{/if}}
      </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="col-12 container-upload-logo">
                <button type="submit" id="producer" class="home-sign-in  btn-hover d-flex justify-content-center">Submit</button>
            </div>
        </div>
    </div>
  </form>
</article>