<div class="container">
    <div class="row py-2" style="margin-top: 9px;">
        <div class="col-12">
            <div class="text-center profile-headers">
                <img src="{{user.logo}}" alt="{{user.companyName}}" class="rounded-circle">
                <h3 class="text-center py-3">{{user.companyName}}</h3>
            </div>
        </div>
        <div class="row form-xl">
            <div class="col-12">
                <ul class="p-4 text-left">
                    <li>Bio:<br>{{user.bio}}</li>
                    <hr>
                    <li>Address: {{user.compAddress}}</li>
                    <hr>
                    <li>WebSite: {{user.compLink}}</li>
                    <hr>
                    <li><small>Phone: <a href="tel:{{user.compPhone}}"></a>{{user.compPhone}} | Email:
                            <a href="mailto:{{user.compMail}}"></a>{{user.compMail}} </small></li>
                    <li>
                        <div class="producer-img">
                            <p>Pictures of {{user.companyName}}:</p>
                            <img src="{{user.pictures}}" alt="user picture">
                        </div>
                    </li>
                    <hr>
                </ul>
            </div>
        </div>
        <section id="products" class="container-fluid d-flex justify-content-center">
            <div class="row d-flex justify-content-center width-all-products">
                {{#each user.products as |product|}}
                <div class="product-card">
                    <div class="badge-card">{{product.categories.[0]}}</div>
                    <div class="product-tumb" style="background-image: url({{product.image}});">
                        <div class="container-buttons-card-all">
                            <div class="card-icon-heart btn-animation-1 btn-bottom-animation-1" data-toggle="tooltip"
                                data-placement="top" title="Add to Wishlist">
                                <button id="{{product.id}}" onclick="addToWishlist(event)"><img
                                        src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599678678/laBuenaVida/web-img/heart_uqxkon.png"
                                        alt="heart icon"></button>
                            </div>
                            <div class="card-icon-cart btn-animation-1 btn-bottom-animation-1" data-toggle="tooltip"
                                data-placement="top" title="Add to Cart">
                                <button id="{{product.id}}" onclick="addToCart(event)"><img
                                        src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599678678/laBuenaVida/web-img/carrito_cwdrzn.png"
                                        alt="cart icon"></button>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <p><a href="/products/{{product.id}}">{{product.name}}</p></a>
                        <div class="product-bottom-details">
                            <span>{{product.price}} €</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>