<h1 class="text-center">Show User View</h1>

<article class="container">
    <div class="row card py-5" style="margin-top: 9px;">
        {{!-- <div class="col-2">
            <img class="w-100 rounded-circle" src="{{user.avatar}}" />
        </div> --}}

        <div class="col-12 text-center">



            <h1>Name: {{user.name}}</h1>

            {{#if user.producer}}
            <p>Type : PRODUCER</p>
            <img src="{{user.logo}}" alt="{{user.companyName}}">
            {{else}}
            <p>Type : CLIENT</p>
            {{/if}}

            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Address:</strong> {{user.address}}</p>
            <p><strong>Phone:</strong> {{user.phone}}</p>

            {{#if user.producer}}
            <p><strong>Company Name:</strong> {{user.companyName}}</p>
            <p><strong>Comapny Bio:</strong> {{user.bio}}</p>

            <p><strong>Company Address:</strong> {{user.compAddress}}</p>
            <p><strong>Company email:</strong> {{user.compMail}}</p>
            <p><strong>Company phone:</strong> {{user.compPhone}}</p>
            <p><strong>Company url:</strong> {{user.compLink}}</p>
            <p><strong>Company Politics:</strong> {{user.politic}}</p>
            <p><strong>Company Certificates:</strong>{{user.certificates}}
            <p>
            <p>Pictures of the Company:</p>

            <img src="{{user.pictures}}" alt="user picture" width="300px">




            {{/if}}


            <div>
                <a class="btn btn-info my-3" href="/users/{{currentUser._id}}/edit">
                    <i class="fa fa-edit mr-2"></i>
                    Edit
                </a>

                <form action="/users/{{currentUser.id}}/delete" method="POST" class="mt-2">
                    <button type="submit" class="btn btn-danger my-3">
                        <i class="fa fa-trash mr-2"></i>
                        Remove account
                    </button>
                </form>
                <a href="/new-product"><button class="btn btn-success my-3"> New Product</button></a>

            </div>

        </div>
    </div>
    {{#if user.producer}}
    <div class="row">
        {{#each user.products as |product|}}
        <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
            <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{product.image}}" alt="{{product.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.bio}}</p>
                        <a href="/products/{{product.id}}/edit" class="btn btn-primary">Edit Product</a>
                        <form action="/delete/{{product.id}}" method="POST">
                            <button class="btn btn-warning my-3"> Remove Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div>

        <h2 class="my-4 text-center">Previous Orders</h2>

        <div class="row">
            {{#each user.order as |order|}}
            <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
                <div class="card" style="width: 18rem;">
                    <p>{{date order.createdAt}}</p>
                    <p>{{order.total}}€</p>
                        <a href="#" class="btn btn-primary">Corregir</a>
                </div>
            </div>
            {{/each}}
        </div>

        <hr />

    </div>
    <div>
        <h2 class="my-4 text-center">Wishlist</h2>

        <div class="row">
            {{#each wishList}}
            <div class="col-xl-4 col-lg-6 col-sm-12 mb-4 product-container">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.product.image}}" alt="{{this.product.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.name}}</h5>
                        <p class="card-text">Price: {{this.product.price}}€</p>
                        <div class="card-body d-flex justify-content-center">
                            <div>
                                <button class="btn btn-sm m-2 btn-outline-success " id="{{this.product.id}}"
                                    onclick="addToCart(event)">
                                    <i class="fa fa-cart-arrow-down">Add to Cart</i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn-sm m-2 btn-outline-danger " id="{{this.id}}"
                                    onclick="deleteFromWishlist(event)">
                                    Delete from Wishlist
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    </div>

    {{/if}}


</article>