<h1 class="text-center">Show User View</h1>

<article class="container">
    <div class="row  py-2" style="margin-top: 9px;">
        <div class="col-12 ">
            <div class="text-center profile-headers">
                <h3 class="text-center">{{user.name}}</h3>
                {{#if user.producer}}
                <div class="row">
                    <div class="col-12 profile-producer-header ">
                        <h5>PRODUCER</h5>
                        <img src="{{user.logo}}" alt="{{user.companyName}}" class="rounded-circle">
                        {{else}}
                        <h5>CLIENT</h5>
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="container form-xl">
                <div class="row">
                    <div class="col-12">
                        <ul class="p-4 text-left">
                            <li class="">Email: {{user.email}}</li>
                            <hr>
                            <li class="">Address: {{user.address}}</li>
                            <hr>
                            <li class="">Phone: {{user.phone}}</li>
                            <hr>
                            {{#if user.producer}}
                            <li class=""><b>Producer Data</b> <i class="fa fa-arrow-down" aria-hidden="true"></i></li>
                            <hr>
                            <li class="">Bio:<br>{{user.bio}}</li>
                            <hr>
                            <li class="">Address: {{user.compAddress}}</li>
                            <hr>
                            <li class=""><small>Phone: <a href="tel:{{user.compPhone}}"></a>{{user.compPhone}} | Email:
                                    <a href="mailto:{{user.compMail}}"></a>{{user.compMail}} </small></li>
                            <hr>
                            <li> {{#if user.producer}}
                                <div class="producer-img">
                                    <img src="{{user.pictures}}" alt="user picture">
                                </div>
                                {{/if}}</li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="form-xl d-flex flex-column align-items-center">
                    <a href="/users/{{currentUser._id}}/edit"><button class="group-buttons">
                            Edit profile </button>
                    </a>
                    <form action="/users/{{currentUser.id}}/delete" method="POST">
                        <button type="submit" class="group-buttons" style="background-color: tomato;">
                            Remove account
                        </button>
                    </form>
                    {{#if user.producer}}
                    <a href="/new-product"><button class="group-buttons" style="background-color: #50A6AC;"> New
                            Product</button></a>
                    {{/if}}
                </div>
            </div>


        </div>
    </div>
    <hr class="hr-profile">
    {{#if user.producer}}
    <div>
        <h2 class="text-center py-3">Products of {{user.companyName}}</h2>
        <div class="row d-flex justify-content-center">
            
                {{#each user.products as |product|}}

                <div class="product-card mb-5 product-container">
                    <div class="badge-card">{{product.categories.[0]}}</div>
                    <div class="product-tumb" style="background-image: url({{product.image}});">
                        <div class="container-buttons-card-user">
                            <div class="card-icon-edit">
                                <a href="/products/{{product.id}}/edit"><button><img
                                            src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599846428/assets/noun_edit_3020483_copia_m1nfb7.png"
                                            alt="pencil edit icon"></button></a>
                            </div>
                            <div class="card-icon-delete">
                                <form action="/delete/{{product.id}}" method="POST">
                                    <button><img
                                            src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599846689/assets/noun_Trash_1294925_copia_et475o.png"
                                            alt="Trash icon"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <p class="text-left"><a href="/products/{{product.id}}">{{product.name}}</p></a>
                    </div>
                </div>

                {{/each}}
        </div>
    </div>

    {{else}}
    <div>

        <h2 class="my-4 text-center">Previous Orders</h2>

        <div class="row d-flex justify-content-center">
            {{#each user.order as |order|}}
            <div class="product-card d-flex flex-column p-3">
                <p>Date: {{date order.createdAt}}</p>
                <p>Total purchase: {{order.total}} €</p>
                <div class="col-12 container-upload-logo">
                    <button type="submit" id="producer" class="home-sign-in d-flex justify-content-center">See
                        Details</button>
                </div>
            </div>
            {{/each}}
        </div>

        <hr class="hr-profile" />

    </div>
    <div>
        <h2 class="my-4 text-center">Wishlist</h2>
        <div class="row d-flex justify-content-center">
            {{#each wishList}}
            <div class="product-card mb-5 product-container">
                <div class="badge-card">{{product.categories.[0]}}</div>
                <div class="product-tumb" style="background-image: url({{product.image}});">
                    <div class="container-buttons-card-user">
                        <div class="card-icon-edit">
                            <button id="{{this.product.id}}" onclick="addToCart(event)"><img
                                    src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599678678/laBuenaVida/web-img/carrito_cwdrzn.png"
                                    alt="add to cart icon" style="margin: 10px 0 3px 7px;"></button>
                        </div>
                        <div class="card-icon-delete">
                            <button id="{{this.id}}" onclick="deleteFromWishlist(event)"><img
                                    src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599846689/assets/noun_Trash_1294925_copia_et475o.png"
                                    alt="Trash icon" style="margin: 10px 0 9px 10px;"></button>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <p class="text-left"><a href="/products/{{product.id}}">{{product.name}}</p></a>
                </div>
            </div>

            {{/each}}
        </div>
    </div>

    {{/if}}


</article>