<div>
  <h1 class="home-header">Welcome to La Buena Vida <br> The place of small traders</h1>
  {{#unless currentUser}}
  <div class="d-flex justify-content-center">
    <a href="/user/signup"><button class="home-sign-in btn-hover d-flex justify-content-center">Sign in</button></a>
  </div>
  {{/unless}}
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <img
        src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599909211/laBuenaVida/web-img/Ilustracion_home_wttai1.png"
        alt="people eating - illustration" class="img-fluid py-5">

      <div class="home-icons-container">
        <div class="home-icons-p">
          <div class="home-icons"
            style="background: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1599660741/laBuenaVida/web-img/calendar_x82xgd.png) no-repeat center center / contain;">
          </div>
          <p>Delivery in less <br> than 48 hours</p>
        </div>
        <div class="home-icons-p">
          <div class="home-icons"
            style="background: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1599660754/laBuenaVida/web-img/truck_dzkt1o.png) no-repeat center center / contain;">
          </div>
          <p>Safe delivery</p>
        </div>
        <div class="home-icons-p">
          <div class="home-icons"
            style="background: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1599660753/laBuenaVida/web-img/map_h7kywh.png) no-repeat center center / contain;">
          </div>
          <p>Proximity <br> product</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="text-center pt-5 home-products-header">Products with best rate</h3>

<section id="products" class="container-fluid d-flex justify-content-center">
  <div class="row d-flex">
    {{#each products}}
    <div class="product-card">
      <div class="badge-card">{{this.categories.[0]}}</div>
      <div class="product-tumb" style="background-image: url({{this.image}});">
      </div>
      <div class="product-details">
        <p><a href="products/{{this.id}}">{{this.name}}</p></a>
        <div class="product-bottom-details">
          <span>{{this.price}} €</span>
          <span class="card-rate">{{this.averageRate}} / 5 <i class="fa fa-star" aria-hidden="true"></i></span>
          <div class="container-buttons-card">
            <div class="card-icon-heart">
              <button id="{{this.id}}" onclick="addToWishlist(event)" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><img
                  src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599678678/laBuenaVida/web-img/heart_uqxkon.png"
                  alt="heart icon"></button>
            </div>
            <div class="card-icon-cart">
              <button id="{{this.id}}" onclick="addToCart(event)" data-toggle="tooltip" data-placement="top" title="Add to cart"><img
                  src="https://res.cloudinary.com/difhe4gl3/image/upload/v1599678678/laBuenaVida/web-img/carrito_cwdrzn.png"
                  alt="cart icon"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sell-your-prods">
          <div class="d-flex justify-content-center">
            <a href="/products"><button class="home-sign-in btn-hover d-flex justify-content-center mb-5 padding-button-xl">All
                products</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid newsletter-container">
    <div class="row">
      <div class="col-12">
        <p class="btn">Subscribe to the newsletter to receive news of La Buena Vida</p>
        <input type="email" placeholder="Enter your email">
        <div class="d-flex justify-content-center">
          <a href="/user/signup"><button class="home-suscribe d-flex justify-content-center">Suscribe</button></a>
        </div>

      </div>
    </div>
  </div>
</section>