<h1 class="text-center py-5">CART</h1>
<div>
    <div>

    </div>


    <ul class="list-group">
        {{#if message}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {{/if}}
        {{#each cart}}
        <li class="list-group-item cart-container">
            <span class="px-2"><img src="{{this.product.image }}" alt="{{this.product.name }}"
                    style="width: 100px;" /></span>
            <ul>
                <li class=""> Product: {{this.product.name }}</li>
                <li class="">Quantity: {{this.quantity}} units.</li>
                <li class="">Price: {{this.product.price}} €</li>
                <li class="float-right">Total: {{cartPrice this}} €</li>
            </ul>

            
                <div class="remove-from-cart">
                    <form action="/product/{{this.id}}/cart/delete" method="POST">
                        <button class="" id="{{this.id}}">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
        </li>

        {{/each}}
        {{#if user.name}}
        <li>
            <span class="float-right p-5">Final Price: {{finalCartPrice}} €</span>
        </li>
        <li>
            <a href="/confirm-order/{{user.id}}" class="btn btn-success float-right mx-5">Checkout</a>
        </li>
        {{else}}
        <li>
            <a href="/products" class="btn btn-danger float-right mx-5">Buy products</a>
        </li>
        {{/if}}
    </ul>

</div>