{{#unless user.address}}
<div class="modal hide fade" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome, {{currentUser.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Welcome to La Buena Vida. If you want to buy a product, you must complete a few fields of our form.
                    Your address and your Phone Number.</p>
            </div>
            <div class="modal-footer">
                <a href="/users/{{currentUser.id}}/edit"><button type="button" class="btn btn-primary">Go to
                        Profile</button></a>
            </div>
        </div>
    </div>
</div>
{{/unless}}

<h1 class="text-center py-5">CHECK YOUR DATA AND ORDER:</h1>
<div>
    <h5>Check your Data:</h5>
    <p>Name: {{user.name}}</p>
    <p>Address: {{user.address}}</p>
    <p>Phone: {{user.phone}}</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary m-5">Change your Data</a>
</div>

<div>
    <h5>Check your Order:</h5>
    <ul class="list-group">
        {{#each cart}}
        <li class="list-group-item cart-container">
            <span class="px-2"><img src="{{this.product.image }}" alt="{{this.product.name }}"
                    style="width: 50px;" /></span>
            <span class="pl-5"> Product: {{this.product.name }}</span>
            <span class="pl-5">Quantity: {{this.quantity}}</span>
            <span class="pl-5">Price: {{this.product.price}}</span>
            <span class="float-right">Total: {{cartPrice this}}</span>
            <span class="float-right">
                <div>
                    <button class="btn btn-sm m-2 btn-outline-danger " id="{{this.id}}" onclick="deleteFromCart(event)">
                        Delete from Cart
                    </button>
                </div>
            </span>
        </li>

        {{/each}}
        <li class="text-center">
            <span class="p-5 bg-danger text-white">Final Price: <b>{{finalCartPrice}}</b></span>
        </li>
        <li>
            <form action="/confirm-order/{{user.id}}/pay" method="POST">
                <button class="btn btn-success mx-5" id="checkout-button">Confirm Payment</button>
            </form>
        </li>
    </ul>

</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/stripe.js">

      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51HO0RHCbVlpVVSMqknO9OGwNJemEptYsSH793Nw2f82Wzz4hX1JrCRhLTozAosgdqz9Ea4EQCdGxaEusZoj8zmEG00P1k5Y8qs');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>
