<section id="products" class="container">

    {{#each products}}
    <div class="card w-20 m-3">
        <div class="m-3 card-body d-flex flex-column align-items-center">
            <p class="card-subtitle mb-2 text-muted">{{this.createdAt}}</p>

            <h3 class="card-text">
                {{this.name}}
            </h3>

            <p class="card-text">
                {{this.producer.companyName}}</b>
            </p>
            <p class="card-text">
                {{this.price}}
            </p>

            <a href="products/{{this.id}}" class="btn btn-secondary mb-3">See details</a>

            <img class="rounded-sm w-20 mb-1" src="{{this.image}}" style="width: 450px!important;" />

            <div>
                <button class="btn btn-sm mb-2 btn-outline-danger" id="{{this.id}}" onclick="wishlist(event)">
                    <i class="fa fa-heart">Wishlist</i>
                </button>
                <button class="btn btn-sm mb-2 btn-outline-danger" id="{{this.id}}" onclick="cart(event)">
                    <i class="fa fa-heart">Carro</i>
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</section>