<section class="container fixed-top mt-3 d-flex justify-content-center" style="width: 100px;">
    <form class="form-inline my-lg-0 d-flex justify-content-center text-center" action="/products">
        <input value="{{search}}" name="search" class="form-control mr-sm-2" type="search" placeholder="Search by Title"
            class="text-center">
    </form>
</section>

<section id="products" class="container d-flex justify-content-center">
    <div class="row">
        {{#each products}}

        <div class="card w-20 m-3 col-3">
            <div class="m-3 card-body d-flex flex-column align-items-center">
                <a href="products/{{this.id}}">
                    <div>
                        <p class="card-subtitle mb-2 text-muted">{{this.createdAt}}</p>

                        <h3 class="card-text">
                            {{this.name}}
                        </h3>

                        <p class="card-text">
                            <b>{{this.producer.companyName}}</b>
                        </p>
                        <p class="card-text">
                            {{this.price}}€
                        </p>

                        <img class="rounded-sm w-20 mb-1" src="{{this.image.[0]}}" style="width: 100px!important;" />
                    </div>
                </a>

                <div>
                    <button class="btn btn-sm mb-2 btn-outline-danger" id="{{this.id}}" onclick="wishlist(event)">
                        <i class="fa fa-heart">Wishlist</i>
                    </button>
                    <button class="btn btn-sm mb-2 btn-outline-danger" id="{{this.id}}" onclick="cart(event)">
                        <i class="fa fa-heart">Carro</i>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>