<div id="form" class="w-100 ">
    <h4>NEW PRODUCT:</h4>
    <form action="/products/{{product.id}}/edit" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="input-content" name="name" placeholder="Name" class="w-100" value="{{product.name}}">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5" type="text" class="form-control {{#if error.description }}is-invalid{{/if}}" name="description"
                        id="pDecscription" value="{{product.description}}"></textarea>
        </div>

        <div class="form-group">
            <label for="categories">Categories</label>
            <input type="checkbox" id="Food" name="categories" value="Food">
            <label for="Food"> Food</label><br>
            <input type="checkbox" id="Drink" name="categories" value="Drink">
            <label for="Drink"> Drink</label><br>
            <input type="checkbox" id="Vegetables" name="categories" value="Vegetables">
            <label for="Vegetables"> Vegetables</label><br>
            <input type="checkbox" id="Fruit" name="categories" value="Fruit">
            <label for="Fruit"> Fruit</label><br>
            <input type="checkbox" id="Meat" name="categories" value="Meat">
            <label for="vehicMeatle3"> Meat</label><br>
            <input type="checkbox" id="Alcohol" name="categories" value="Alcohol">
            <label for="Alcohol"> Alcohol</label><br>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="price" id="input-content" name="price" placeholder="Price in Euros" class="w-100" value="{{product.price}}">
        </div>

        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="stock" id="input-content" name="stock" placeholder="Stock" class="w-100" value="{{product.stock}}">
        </div>

        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="input-content" name="image" placeholder="Image" class="w-100" value="{{product.image}}">
        </div>

        <button type="submit" class="btn btn-primary mt-3 mb-4">Edit product</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>